body {
    font-family: 'Helvetica', Courier, monospace
}

.nav {
    display: grid;
    grid-auto-flow: column;
    align-items: center; 
}

li {
    margin: 0 3em;
    list-style: none;  
    text-decoration: none;
}

.link {
    text-decoration: none;
}